<div class="container">
  <div class="row justify-content-center">
    <h2 class="page-header" align="center">Endless Aisle Dashboard</h2>
  </div>
  <div class="row justify-content-center">
    <h3 align="center">{{ dateNow | amDateFormat:'LL' }}</h3>
  </div>

  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<div class="card">-->
        <!--<div class="card-header">-->
          <!--<h4 style="text-align: center;">Female Buyers</h4>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<div class="card">-->
        <!--<div class="card-header">-->
          <!--<h4 style="text-align: center;">Male Buyers</h4>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 style="text-align: center;">Female Buyers</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h4 style="text-align: center;">Age 45-60</h4>
                </div>
                <div class="card-body">
                  <p>Total: {{ oldFemaleA + oldFemaleB}}</p>
                  <p>Offer A: {{ oldFemaleA }}</p>
                  <p>Offer B: {{ oldFemaleB }}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h4 style="text-align: center;">Age 25-45</h4>
                </div>
                <div class="card-body">
                  <p>Total: {{ youngFemaleA + youngFemaleB }}</p>
                  <p>Offer A: {{ youngFemaleA }}</p>
                  <p>Offer B: {{ youngFemaleB }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 style="text-align: center;">Male Buyers</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h4 style="text-align: center;">Age 45-60</h4>
                </div>
                <div class="card-body">
                  <p>Total: {{ oldMaleA + oldMaleB}}</p>
                  <p>Offer A: {{ oldMaleA }}</p>
                  <p>Offer B: {{ oldMaleB }}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h4 style="text-align: center;">Age 25-45</h4>
                </div>
                <div class="card-body">
                  <p>Total: {{ youngMaleA + youngMaleB }}</p>
                  <p>Offer A: {{ youngMaleA }}</p>
                  <p>Offer B: {{ youngMaleB }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 style="text-align: center;">Recent Buyers</h4>
        </div>
        <div class="fixed_header table">
          <table class="fixed_header">
            <thead>
            <tr>
              <th style="font-weight: bold;">Name</th>
              <th style="font-weight: bold;">Time</th>
              <th style="font-weight: bold;">Gender</th>
              <th style="font-weight: bold;">Age</th>
              <th style="font-weight: bold;">Offer Selected</th>
              <th style="font-weight: bold;">Emotional State</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{ transaction.customer.name }}</td>
              <td>{{ transaction.datetime | amDateFormat: 'M/D/YYYY, h:mm:ss a' }}</td>
              <td>{{ transaction.customer.gender }}</td>
              <td>{{ transaction.customer.age }}</td>
              <td>{{ transaction.offer.name }}</td>
              <td>{{ transaction.customer.mood }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
